<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'expert/expertindex.html' %}}
{% block body %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<style>
 td {
  background-color: white;
  border: 1px solid;
}
input {
  width: 100%;
}
table {
  width: 90%;
}
    th{
    background-color:#e03a3c;
    }
input[type=submit] {
  width: 100px;
  background-color:#e03a3c;
  color: white;
  padding: 8px 20px;
  margin: 6px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #e03a3c;
  color: white;

}
</style>
<body>
<form id="form1" name="form1" method="post" action="addquestion#about">
  <table width="251" border="1">


    <tr>
      <th width="16">Sl no </th>
      <th width="60">Questions</th>
      <th width="53">Answers</th>
      <th width="94">&nbsp;</th>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{i['Questions']}}</td>
      <td>{{i['Answers']}}</td>
      <td><a href="editquestions?id={{i['Q_id']}}">EDIT</a><br><a href="deletequestion?id={{i['Q_id']}}">DELETE</a>
        <p>&nbsp;</p>      </td>

    </tr>
    {% endfor %}
    <tr>
      <td height="28" colspan="4"><label>
      <div align="center">
        <input type="submit" name="Submit" value="ADD" />
      </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
